<h1>Stats#show</h1>
<p>Find me in app/views/stats/show.html.erb</p>
<table>
  <tr>
	<td>Department</td>
	<td>Inbound, daily</td>
	<td>Inbound, night</td>
	<td>Inbound, total</td>
	<td>Outbound, daily</td>
	<td>Outbound, night</td>
	<td>Outbound, total</td>
  </tr>
<%
   @departments.each do |d|
%>
  <tr>
	<td><%= d.name %></td>
	<td><%= number_to_human_size(d.total_daily_in_traffic(@from_date,@to_date)) %></td>
	<td><%= number_to_human_size(d.total_night_in_traffic(@from_date,@to_date)) %></td>
	<td><%= number_to_human_size(d.total_in_traffic(@from_date,@to_date)) %></td>
	<td><%= number_to_human_size(d.total_daily_out_traffic(@from_date,@to_date)) %></td>
	<td><%= number_to_human_size(d.total_night_out_traffic(@from_date,@to_date)) %></td>
	<td><%= number_to_human_size(d.total_out_traffic(@from_date,@to_date)) %></td>
  </tr>
<%
   end
%>

