<h1>Stats#show</h1>
<p>Find me in app/views/stats/show.html.erb</p>
<table>
  <tr>
	<td>Department</td>
	<td>Inbound, daily</td>
	<td>Inbound, night</td>
	<td>Inbound, total</td>
	<td>Outbound, daily</td>
	<td>Outbound, night</td>
	<td>Outbound, total</td>
  </tr>
<%
   @departments.each do |d|
%>
  <tr>
	<td><%= d.name %></td>
	<td><%= number_to_human_size(d.total_traffic(:in,:day,@from_date,@to_date)) %></td>
	<td><%= number_to_human_size(d.total_traffic(:in,:night,@from_date,@to_date)) %></td>
	<td><%= number_to_human_size(d.total_traffic(:in,:day,@from_date,@to_date) + d.total_traffic(:in,:night,@from_date,@to_date)) %></td>
	<td><%= number_to_human_size(d.total_traffic(:out,:day,@from_date,@to_date)) %></td>
	<td><%= number_to_human_size(d.total_traffic(:out,:night,@from_date,@to_date)) %></td>
	<td><%= number_to_human_size(d.total_traffic(:out,:day,@from_date,@to_date) + d.total_traffic(:out,:night,@from_date,@to_date)) %></td>
  </tr>
<%
   end
%>
</table>
